* {
    font-family: 'Helvetica';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 225, 255);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid lavenderblush;
    background-color: pink;
    color: lightcoral;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 20px;
    color: brown;
}